
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script>
        var loginMegs = '@ViewBag.loginMegs';
        if (loginMegs != "")
        alert(loginMegs);

    </script>
</head>
<body>
    @using (Html.BeginForm("login","Account",FormMethod.Post))
    {
        <div style="background-color: #426c83; width: 400px; height: 500px; border-radius:5px; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px; margin: auto">
            <div class="content">
                <div class="row py-5">
                    <div class="col col-sm-12">
                        <h2 class="text-center text-light">Login</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        <label id="emailInput" class="text-light"> Email</label>
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        <input  class="w-100 form-control" type="email" id="emailInput" name="emailInput" placeholder="Enter your email" />
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        <label class="text-light"> Password</label>
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8 mb-2">
                        <input class="w-100 form-control" type="password" id="passwordInput" name="passwordInput" placeholder="Enter your password" />
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div><div class="row">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8 mb-1" style="display:flex;justify-content:space-between">
                      <a class="text-light" href="/Account/signup">Create new</a>
                      <a class="text-light" href="/Account/forget">Forget Password?</a>
                    </div>
                    <div class="col col-sm-2">
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-sm-2">
                    </div>
                    <div class="col col-sm-8">
                        <input  class="w-100  btn btn-outline-light mt-2" type="submit"  value="Login" id="btnLogin" name="btnSubmit"/>
                        @*<input class="w-100  btn btn-primary mt-2" type="submit"  value="Reset" id="btnReset" name="btnSubmit"/>
                        <input class="w-100  btn btn-primary mt-2" type="submit"  value="Forget Password" id="btnForget_password" name="btnSubmit"/>*@
                    </div>
                    <div class="col col-sm-2">

                    </div>
                </div>

            </div>

        </div>
    }

</body>
</html>
